body {
    font-family: 'Poppins', sans-serif;
}

.ptop {
    background-color: #fff;
    overflow: hidden;
}

.wraper {
    display:flex;
    width:1300px;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    align-items:center;
    height: 240px;
}
   

.navbar {
    display:inline-flex;
    align-items:center ;
    flex:1;
    margin-left:240px;
    line-height: 24px;
    word-spacing: 50px;
}

.navbar a{
    color:#8B8B8B;
    font-size: 20px;
    font-weight: 500;
    letter-spacing:1.6px;
    text-decoration: none;
    letter-spacing: 1px;
}

.navbar a:hover {
    color:#000
}

.navbar a:last-child {
    padding:14px 41px;
    background-color: #FF64AE;
    border-radius: 45px;
    color:#fff;
}

h3 {
    color: #FF64AE;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

h1 {
    color: #091156;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    padding-right: 30px;
}

.column_left {
    max-width: 50%;
    flex: 1;
}

.column_right {
    max-width:50%;
    flex: 1;
    padding-bottom:50px;
}

.lorem {
    color: #8B8B8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    width:407px;
    margin:0 auto;
}

.contact_animations {
    margin-top:90px;
}

.form .first_row {
    display:flex;
    gap:35px;
}

.form input, .form textarea {
    border-radius: 15px;
    border: 1px solid #D9DDFE;
    background: #FFF;
    padding:17px 28px;
    width:100%;
    margin-top:38px;
}

.form textarea {
    height:240px;
    max-width:91.5%;
}

.email_subject {
    display: flex;
    flex-flow: column;
    max-width: 91.5%;
}

.user_action2 input {
    padding:15px 38px;
    width:250px;
    background-color: #FF64AE;
    border-radius: 45px;
    color:#fff;
}